<div class="accueil">
  <h1>Matériels en location</h1>
  <div class="container col-md-3">
      <img src="assets/lenovo.jpg" alt="Photo du PC" class="card-img-top" />
      <h2 class="card-title">Pc-Portable</h2>

      <img
        src="assets/salle.jpg"
        alt="Photo de la salle"
        class="card-img-top"
      />
      <div class="card-body">
        <h2 class="card-title">Salle</h2>
      </div>
    </div>
      <img
        src="assets/projecteur.jpg"
        alt="Photo de Vidéoprojecteur"
        class="card-img-top"
      />

      <h2 class="card-title">Vidéo projecteur</h2>
    </div>
      <img src="assets/WEBCAM.jpg" alt="Photo du Webcam" class="card-img-top" />
      <div class="card-body">
        <h2 class="card-title">Webcam</h2>
      </div>
    
 
